---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle: string = 'プロフィール';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <div>
    <div>
      <p>名前：あずにゃん</p>
      <p>生年月日：1998/02/10</p>
      <p>出身：兵庫県</p>
      <p>好きな食べ物：オムライスとか</p>
      <p>
        趣味：新しい技術を使ってみたり、ダラーっとアニメ観たりすること！あと、美容！
      </p>
    </div>
  </div>
</BaseLayout>
